/* .container {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
} */

.left-side-container {
    position: relative;
    width: 40%
  }
  .card-image {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

.odin-icon {
    width: 25%;
}

.icon-name{
    display: inline;
}

.icon-body {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
    font-family: roboto;
    
}

/* img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.left-side {
    grid-row: 1 / 2;
} */

.right-side {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.top {
    grid-row: 1 / 2;
}

.middle {
    grid-row: 2 / 3;
}

.top {
    grid-row: 3 / 4;
}